extends ../layout

block content
  h2
    | Wallet Mappings for #{maptype}: #{address}


  table.table
    tr
      th Verified
      th Wallet Address
      th Actions
    each map, i in maps
      tr
        td 
          | #{map.mapfrom.verified}
        td
          +currencysymbol(map.mapto.maptype)
          | #{map.mapto.maptype}:#{map.mapto.address}
        td
          a(href="#" + map._id)
            button.btn.btn-xs.btn-primary
              | Details     
          |     
          a(href=map.mapto.maptype + map.mapto.address)
            button.btn.btn-xs.btn-success
              | Pay 
          | 
          a(href="#" + map._id)
            button.btn.btn-xs.btn-danger
              | Delete

  a(href="/maps/new")
    button.btn.btn-success
     | Add new address  