extends ../layout

block content
  h2 All Maps

  table.table
    tr
      th Map Type
      th From Address
      th Wallet Type
      th Wallet Address
      th Actions
    each map, i in maps
      tr
        td 
          a(href="/" +map.mapfrom.maptype+ "/" )= map.mapfrom.maptype
        td
          a(href="/" +map.mapfrom.maptype+ "/" + map.mapfrom.address + "/")
            | #{map.mapfrom.address}
        td= map.mapto.maptype 
        td
          a(href='#')       
            | #{map.mapto.address}
        td
          a(href="/" +map.mapfrom.maptype+ "/" + map.mapfrom.address)
            button.btn.btn-xs.btn-primary
              | Details 
          |         
          a(href=map.mapto.maptype+ ":" + map.mapto.address)
            button.btn.btn-xs.btn-success
              | Pay 
          | 
          a(href="#" + map._id)
            button.btn.btn-xs.btn-danger
              | Delete

    form(method="POST",action="/maps/new")
      input(type='hidden', name='_csrf', value=token)
      tr
        td
          label.sr-only(for="mapfromtype") Map From Type
          select.form-control(name='mapfromtype', id='mapfromtype')      
            option Twitter
            option Facebook
            option Email
            option SMS  
            option Website
        td
          label.sr-only(for="mapfromaddress") From Address
          input.form-control(type='text', name='mapfromaddress', id='mapfromaddress', placeholder='From Address')
        td
          label.sr-only(for="maptotype") Wallet Type                
          select.form-control(name='maptotype', id='maptotype')
            option Bitcoin
            option Dogecoin
            option Litecoin     
        td        
          label.sr-only(for="maptoaddress") Wallet Address        
          input.form-control(type='text', name='maptoaddress', id='maptoaddress', placeholder='Wallet Address')     
        td
          button.btn.btn-sm.btn-primary
            | Add New Mapping


  a(href="/maps/new")
    button.btn.btn-success
     | Add new address  